In [14]:
import pandas as pd

In [15]:
hs12=pd.read_excel('HS2012-17-BEC5 -- 08 Nov 2018.xlsx')
hs12.rename(columns={'HS6':'HS12'}, inplace=True)

In [16]:
hs17=pd.read_excel('HS2012-17-BEC5 -- 08 Nov 2018.xlsx', sheet_name='HS17BEC5')
hs17.rename(columns={'HS6':'HS17'}, inplace=True)

In [17]:
hs12_hs17=pd.merge(hs12, hs17, how='outer', on='BEC5Code1')

In [18]:
hs12_hs17.head()

,HS_x,HS4_x,HS4Desc_x,HS12,HS6Desc_x,BEC5Code1,BEC5Code2_x,BEC5Category_x,BEC5EndUse_x,BEC5Processing_x,...,GTAPdesc_y,CPC1_y,CPCdesc_y,BEC4Code_y,BEC4ENDUSE_y,BEC4INT_y,BEC4CONS_y,BEC4CAP_y,AddedByUNSD_y,NoteByUNSD_y
0,H4,101,"Live horses, asses, mules and hinnies.",10121,live purebred breeding horses,712010.0,NaN,"Health, pharmaceuticals, education, cultural, ...",CAP,NaN,...,"Bovine cattle sheep and goats horses,",2113.0,Horses asses mules and hinnies live,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4
1,H4,101,"Live horses, asses, mules and hinnies.",10121,live purebred breeding horses,712010.0,NaN,"Health, pharmaceuticals, education, cultural, ...",CAP,NaN,...,"Machinery and equipment nec,",44912.0,Dryers for wood paper pulp paper or paperboa...,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4
2,H4,101,"Live horses, asses, mules and hinnies.",10121,live purebred breeding horses,712010.0,NaN,"Health, pharmaceuticals, education, cultural, ...",CAP,NaN,...,"Machinery and equipment nec,",43922.0,Weighing machinery (excluding balances of a se...,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4
3,H4,101,"Live horses, asses, mules and hinnies.",10121,live purebred breeding horses,712010.0,NaN,"Health, pharmaceuticals, education, cultural, ...",CAP,NaN,...,"Machinery and equipment nec,",43560.0,Other lifting handling loading or unloading ...,41,CAP,0.0,0.0,1.0,1,1To1 WITH H4
4,H4,101,"Live horses, asses, mules and hinnies.",10121,live purebred breeding horses,712010.0,NaN,"Health, pharmaceuticals, education, cultural, ...",CAP,NaN,...,"Machinery and equipment nec,",48251.0,Hydrometers and similar floating instruments ...,41,CAP,0.0,0.0,1.0,1,NTo1 WITH H4-902511

In [12]:
#hs12_hs17.columns

Index(['HS_x', 'HS4_x', 'HS4Desc_x', 'HS12', 'HS6Desc_x', 'BEC5Code1',
       'BEC5Code2_x', 'BEC5Category_x', 'BEC5EndUse_x', 'BEC5Processing_x',
       'BEC5Specification_x', 'BEC5Durability_x', 'i3_x', 'i31Desc_x',
       'standesci3_x', 'i4_x', 'i4Desc_x', 'standesci4_x', 'GTAP_x',
       'GTAPcode_x', 'GTAPdesc_x', 'CPC1_x', 'CPCdesc_x', 'BEC4Code_x',
       'BEC4ENDUSE_x', 'BEC4INT_x', 'BEC4CONS_x', 'BEC4CAP_x', 'AddedByUNSD_x',
       'NoteByUNSD_x', 'HS_y', 'HS4_y', 'HS4Desc_y', 'HS17', 'HS6Desc_y',
       'BEC5Code2_y', 'BEC5Category_y', 'BEC5EndUse_y', 'BEC5Processing_y',
       'BEC5Specification_y', 'BEC5Durability_y', 'i3_y', 'i31Desc_y',
       'standesci3_y', 'i4_y', 'i4Desc_y', 'standesci4_y', 'GTAP_y',
       'GTAPcode_y', 'GTAPdesc_y', 'CPC1_y', 'CPCdesc_y', 'BEC4Code_y',
       'BEC4ENDUSE_y', 'BEC4INT_y', 'BEC4CONS_y', 'BEC4CAP_y', 'AddedByUNSD_y',
       'NoteByUNSD_y'],
      dtype='object')

In [8]:
#hs12_hs17=hs12_hs17[['HS', 'HS4','HS12', 'HS17', 'HS4Desc', 'HS6Desc', 'BEC5Code1', 'BEC5Code2',
       'BEC5Category', 'BEC5EndUse', 'BEC5Processing', 'BEC5Specification',
       'BEC5Durability', 'i3', 'i31Desc', 'standesci3', 'i4', 'i4Desc',
       'standesci4', 'GTAP', 'GTAPcode', 'GTAPdesc', 'CPC1', 'CPCdesc',
       'BEC4Code', 'BEC4ENDUSE', 'BEC4INT', 'BEC4CONS', 'BEC4CAP',
       'AddedByUNSD', 'NoteByUNSD']]

In [13]:
hs12_hs17=hs12_hs17[['HS4','HS12', 'HS17','BEC5Code1']]

KeyError: "['HS4'] not in index"

In [10]:
hs12_hs17.head()

   HS4     HS12  HS17  BEC5Code1
0  101  10121.0   NaN   712010.0
1  101  10129.0   NaN     1111.0
2  101  10130.0   NaN     1111.0
3  101  10190.0   NaN     1111.0
4  102  10221.0   NaN   112010.0

In [68]:
hs12_hs17.isnull().sum()

HS4             0
HS12         5387
HS17         5205
BEC5Code1       4
dtype: int64

In [69]:
hs12_hs17[hs12_hs17['BEC5Code1'].isnull()]

       HS4      HS12      HS17  BEC5Code1
3357  7108  710820.0       NaN        NaN
3386  7118  711890.0       NaN        NaN
8718  7108       NaN  710820.0        NaN
8747  7118       NaN  711890.0        NaN

In [70]:
hs12_hs17=hs12_hs17.fillna(0)

In [71]:
hs12_hs17=hs12_hs17.astype({'HS12':'int64'})
hs12_hs17=hs12_hs17.astype({'HS17':'int64'})
hs12_hs17=hs12_hs17.astype({'BEC5Code1':'int64'})

In [72]:
hs12_hs17.loc[hs12_hs17['HS12'] == 710820, 'BEC5Code1'] = 9999999
hs12_hs17.loc[hs12_hs17['HS12'] == 711890, 'BEC5Code1'] = 9999999
hs12_hs17.loc[hs12_hs17['HS17'] == 710820, 'BEC5Code1'] = 9999999
hs12_hs17.loc[hs12_hs17['HS17'] == 711890, 'BEC5Code1'] = 9999999

In [73]:
hs12_hs17.isnull().sum()

HS4          0
HS12         0
HS17         0
BEC5Code1    0
dtype: int64

In [74]:
hs12_hs17

        HS4   HS12    HS17  BEC5Code1
0       101  10121       0     712010
1       101  10129       0       1111
2       101  10130       0       1111
3       101  10190       0       1111
4       102  10221       0     112010
...     ...    ...     ...        ...
10587  9702      0  970200     713202
10588  9703      0  970300     713202
10589  9704      0  970400     813202
10590  9705      0  970500     713202
10591  9706      0  970600     713202

[10592 rows x 4 columns]

In [ ]:
hs12_hs17.to_csv("hs17_12_4_bec.csv", index = False)