In [1]:
import pandas as pd

In [2]:
hs12=pd.read_excel('HS2012-17-BEC5 -- 08 Nov 2018.xlsx')

In [3]:
hs12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5205 entries, 0 to 5204
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HS                 5205 non-null   object
 1   HS4                5205 non-null   int64
 2   HS4Desc            5205 non-null   object
 3   HS6                5205 non-null   int64
 4   HS6Desc            5205 non-null   object
 5   BEC5Code1          5203 non-null   float64
 6   BEC5Code2          350 non-null    float64
 7   BEC5Category       5203 non-null   object
 8   BEC5EndUse         5203 non-null   object
 9   BEC5Processing     4522 non-null   object
 10  BEC5Specification  3478 non-null   object
 11  BEC5Durability     1384 non-null   object
 12  i3                 5205 non-null   int64
 13  i31Desc            5173 non-null   object
 14  standesci3         5205 non-null   object
 15  i4                 5205 non-null   int64
 16  i4Desc             5205 non-null   object
 17  standesci4         5205 non-null   object
 18  GTAP               5199 non-null   float64
 19  GTAPcode           5199 non-null   object
 20  GTAPdesc           5199 non-null   object
 21  CPC1               5198 non-null   float64
 22  CPCdesc            5198 non-null   object
 23  BEC4Code           5205 non-null   int64
 24  BEC4ENDUSE         5205 non-null   object
 25  BEC4INT            5191 non-null   float64
 26  BEC4CONS           5191 non-null   float64
 27  BEC4CAP            5191 non-null   float64
 28  AddedByUNSD        5205 non-null   int64
 29  NoteByUNSD         5 non-null      object
dtypes: float64(7), int64(6), object(17)
memory usage: 1.2+ MB

In [4]:
hs17=pd.read_excel('HS2012-17-BEC5 -- 08 Nov 2018.xlsx', sheet_name='HS17BEC5')

In [5]:
hs17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5387 entries, 0 to 5386
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HS                 5387 non-null   object
 1   HS4                5387 non-null   int64
 2   HS4Desc            5387 non-null   object
 3   HS6                5387 non-null   int64
 4   HS6Desc            5387 non-null   object
 5   BEC5Code1          5385 non-null   float64
 6   BEC5Code2          367 non-null    float64
 7   BEC5Category       5385 non-null   object
 8   BEC5EndUse         5385 non-null   object
 9   BEC5Processing     4687 non-null   object
 10  BEC5Specification  3588 non-null   object
 11  BEC5Durability     1441 non-null   object
 12  i3                 5387 non-null   int64
 13  i31Desc            5341 non-null   object
 14  standesci3         5387 non-null   object
 15  i4                 5387 non-null   int64
 16  i4Desc             5387 non-null   object
 17  standesci4         5387 non-null   object
 18  GTAP               5381 non-null   float64
 19  GTAPcode           5381 non-null   object
 20  GTAPdesc           5381 non-null   object
 21  CPC1               5380 non-null   float64
 22  CPCdesc            5380 non-null   object
 23  BEC4Code           5387 non-null   int64
 24  BEC4ENDUSE         5387 non-null   object
 25  BEC4INT            5373 non-null   float64
 26  BEC4CONS           5373 non-null   float64
 27  BEC4CAP            5373 non-null   float64
 28  AddedByUNSD        5387 non-null   int64
 29  NoteByUNSD         5387 non-null   object
dtypes: float64(7), int64(6), object(17)
memory usage: 1.2+ MB

In [6]:
hs12_hs17=pd.merge(hs17, hs12, how='left')

In [7]:
hs12_hs17=hs12_hs17[['HS4','HS6','BEC5Code1']]

In [8]:
hs12_hs17.isnull().sum()

HS4          0
HS6          0
BEC5Code1    2
dtype: int64

In [9]:
hs12_hs17[hs12_hs17['BEC5Code1'].isnull()]

       HS4     HS6  BEC5Code1
3513  7108  710820        NaN
3542  7118  711890        NaN

In [15]:
hs12_hs17.loc[hs12_hs17['BEC5Code1'] == 'NaN', 'BEC5Code1'] = 9999999

SyntaxError: invalid syntax (Temp/ipykernel_14588/536832363.py, line 1)

In [11]:
hs12_hs17

       HS4     HS6  BEC5Code1
0      101   10121   712010.0
1      101   10129     1111.0
2      101   10130     1111.0
3      101   10190     1111.0
4      102   10221   112010.0
...    ...     ...        ...
5382  9702  970200   713202.0
5383  9703  970300   713202.0
5384  9704  970400   813202.0
5385  9705  970500   713202.0
5386  9706  970600   713202.0

[5387 rows x 3 columns]

In [12]:
hs12_hs17.isnull().sum()

HS4          0
HS6          0
BEC5Code1    2
dtype: int64