In [1]:
import pandas as pd

In [32]:
df=pd.read_csv('df_export_import.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15712 entries, 0 to 15711
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      15712 non-null  int64
 1   BEC             15710 non-null  float64
 2   USD             15710 non-null  float64
 3   Country         15710 non-null  object
 4   Year            15710 non-null  float64
 5   import, export  15710 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 736.6+ KB

In [33]:
df.drop(['Unnamed: 0'],axis=1, inplace=True) #불필요한 열 삭제
df.drop([0], inplace=True)
df.fillna(0, inplace=True)
df['BEC']=df['BEC'].astype('int64')
df['Year']=df['Year'].astype('int64')
df['USD']=df['USD'].astype('int64')

In [34]:
df.head()

   BEC     USD    Country  Year import, export
1  212  153321  australia  2012         export
2  312  404674  australia  2012         export
3  512  325689  australia  2012         export
4  612    3769  australia  2012         export
5  712  215251  australia  2012         export

In [35]:
df.to_csv('df_total.csv', index=False)